<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title style="color:white">Home</title>
    <style>
        body
        {
        background-image: url("https://wallpaperaccess.com/full/2482029.jpg");
        background-size: cover;
        }
        h3.big
        {
        line-height: 1.8;
        }
    </style>
</head>
<body background="gk.jpg">

    <br>
      <div class="container">
        <div class="row">
            <div class="col-md-12 bd-light text-right">
                <a href="/home" class="btn btn-info btn-lg">Home</a>
                <a href="/predict" class="btn btn-primary disbled btn-lg">Predict</a>
            </div>
        </div>
          <center>
            <h1 style="color:white"><strong> Telecom Churn Prediction</strong></h1>
          </center>

          <h3 style="color:white"class="big"><em>The main contribution of our work is to develop a churn
              prediction model which assists telecom operators to predict
              customers who are most likely subject to churn. The model
              developed in this work uses machine learning techniques on
              big data platform and builds a new way of features'
              engineering and selection.
          </em></h3><br>
      </div>
    <script src="gk.jpg"></script>
    <script src="gk.jpg></script>



</body>
</html>